@-webkit-keyframes spin {
}
/* fonts*/
@font-face {
  font-family: freakshow;
  src: url(/font/Freakshow.ttf);
}

body {
  cursor: url(hands/hand_cursor.cur), auto;

  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  overflow-y: hidden;
  height: 100%;
}

/*dolphin background*/
.dolphins {
  position: absolute;
  size: 100%;
  z-index: -1;
}

.playing .dolphins {
  animation: spin infinite 30s linear;
}

/*ce qui se passe dérrière*/

.currentsong {
  left: 600px;
}

#cover {
  display: flex;
  margin: 20px auto;
  width: 500px;
}

#track-title {
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: freakshow, sans-serif;
  margin: 32px;
  padding: 0px;
}

#track-artist {
  color: white;
  text-align: center;
}

img.cat {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 900px;
}
/* Ce qui fait tourner les yeux*/
img.eyeball1 {
  position: absolute;
  bottom: 640px;
  right: 350px;
}

.playing img.eyeball1 {
  animation: spin infinite 2s linear;
}

img.eyeball2 {
  position: absolute;
  bottom: 645px;
  right: 240px;
}

.playing img.eyeball2 {
  animation: spin infinite 3s linear;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

/* les boutons */
.time {
  display: none;
}

button.prev {
  position: absolute;
  bottom: 480px;
  right: 350px;

  background-color: transparent;
  border: none;
  color: transparent;
}

button.next {
  position: absolute;
  bottom: 505px;
  right: 200px;

  background-color: transparent;
  border: none;
  color: transparent;
}

button.pauseplay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 490px;
  right: 280px;

  background-color: transparent;
  border: none;
  color: transparent;
}

/* ayooo la playliste dans la box.*/

#playlist {
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 50px;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  list-style: none;

  transform: rotate(0.09turn);
}

#playlist .playlist-cover {
  width: 130px;
  margin: 4px;
  border-radius: 15px;
}
#playlist .track-artist {
  display: none;
}
#playlist .track-title {
  display: none;
}

/* Cacher le bouton pause en mode PAUSE */
#pause-icon {
  display: none;
}

/* Afficher le bouton pause en mode PLAY */
.playing #pause-icon {
  display: inline;
}

/* Cacher le bouton play en mode PLAY */
.playing #play-icon {
  display: none;
}

/* Changer le style du bouton like */
#like {
  display: none;
}
#like.liked {
  background-color: green;
}

/* Sliders */
input[type="range"] {
  display: none; /*j'le cache.*/

  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background: lightgray;
  background-image: linear-gradient(#ff4500, #fe6a35);
  background-size: var(--progress-percentage) 100%;
  background-repeat: no-repeat;
}

/* Le curseur du slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f84e11;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

/* Le curseur du slider au survol */
input[type="range"]::-webkit-slider-thumb:hover {
  background: rebeccapurple;
}

/* La zone du slider */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
